[Unit]
Description=Shairport-sync AirPlay receiver
After=network-online.target

[Container]
Image=docker.io/mikebrady/shairport-sync:latest
ContainerName=shairport
Network=host
AddCapability=SYS_NICE
AddDevice=/dev/snd
Exec=-a jsteam

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
