# Debian
.bashrc
.bash_aliases
.hushlogin
.config/btop/btop.conf
.config/btop/themes/catppuccin.theme
.config/htop/htoprc
.config/vim/vimrc
.config/shellcheckrc
.config/codebook/codebook.toml
.config/zed/settings.json
