# macOS
.zshrc
.zsh_aliases
.hushlogin
.vim/vimrc
.config/bat/config
.config/bat/themes/Catppuccin.tmTheme
# .config/btop/btop.conf
.config/btop/themes/catppuccin.theme
# .config/git/config
.config/ghostty/config.ghostty
.config/tmux/tmux.conf
.config/zed/AGENTS.md
.config/zed/settings.json
.config/zed/keymap.json
.config/zed/snippets/markdown.json
.config/codebook/codebook.toml
.config/zsh/catppuccin.zsh
# .ssh/config
