# macOS
.zshrc
.zsh_aliases
.hushlogin

# .config/btop/btop.conf
.config/btop/themes/catppuccin.theme
# .config/git/config
.config/ghostty/config.ghostty
.config/helix/config.toml
.config/helix/languages.toml
.config/herdr/config.toml
.config/zed/AGENTS.md
.config/zed/settings.json
.config/zed/keymap.json
.config/zed/snippets/markdown.json
.config/codebook/codebook.toml
.config/zsh/catppuccin.zsh

# .ssh/config

.vim/vimrc
