# Solus
.bashrc
.bash_aliases
.hushlogin
.hidden
.config/btop/btop.conf
.config/btop/themes/catppuccin.theme
.config/ghostty/config.ghostty
.config/htop/htoprc
.config/tmux/tmux.conf
.config/zed/AGENTS.md
.config/zed/settings.json
.config/zed/keymap.json
.config/zed/snippets/markdown.json
.config/codebook/codebook.toml
.local/share/gtksourceview-5/styles/Catppuccin.xml
.local/share/gtksourceview-5/styles/Catppuccin-dark.xml
.vim/vimrc