# Ubuntu
.bashrc
.bash_aliases
.hushlogin
.hidden
.vim/vimrc
.config/btop/btop.conf
.config/btop/themes/catppuccin.theme
.config/htop/htoprc
.config/tmux/tmux.conf
.local/share/gtksourceview-5/styles/Catppuccin.xml
.local/share/gtksourceview-5/styles/Catppuccin-dark.xml
